<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Currencies" value="AUD,USD,TRY,TWI,THB,CHF,SEK,KRW,ZAR,SGD,RUB,GBP,PLN,PHP,PKR,NZD,TWD,RON,MMK,MXN,MYR,JPY,ILS,IDR,INR,I44,ISK,XDR,HUF,HKD,EUR,DKK,CZK,HRK,CNY,CAD,BRL,BDT,BGN,BYN"/>
		<add key="apiurl" value="https://data.norges-bank.no/api/data/EXR/"/>
		<add key="ExchangeRatePercentage" value="10"/>
	</appSettings>
	<connectionStrings>
		<add name="norges" providerName="System.Data.SqlClient" connectionString="Data Source=.;  Integrated Security=true;Initial Catalog=norgesBank"/>

	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="SweaWebServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpsTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://swea.riksbank.se:443/sweaWS/services/SweaWebServiceHttpSoap12Endpoint" binding="customBinding" bindingConfiguration="SweaWebServiceSoap12Binding" contract="SweaWebService.SweaWebServicePortType" name="SweaWebServiceHttpSoap12Endpoint"/>
        </client>
    </system.serviceModel>
</configuration>
