<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalUtilities" version="5.4.5" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Common.dll" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Data.dll" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Practices.ObjectBuilder.dll" version="3.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Management" version="5.0.0" targetFramework="net461" />
  <package id="Westwind.Utilities" version="3.0.49.6" targetFramework="net461" />
  <package id="YAXLib" version="2.15" targetFramework="net461" />
</packages>